.accommodation-info {
    padding: 2em 0;
    text-align: center;
    background-color: $background-color;

    .accommodation-details {
        border: 1px solid #ccc;
        margin: 1em auto;
        padding: 1em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        background-color: #fff;
        box-shadow: $box-shadow;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 1em;
        }

        button {
            margin-top: auto;
            background-color: $secondary-color;
            border: none;
            color: $text-color;
            padding: 0.5em 1em;
            cursor: pointer;
        }
    }
}